extends layout

block content
	h1= title
	p Welcome to #{title}
	div
		a(href="/angular14/docs/index.html") angular 1.4 api
	div
		a(href="/ui.bootstrap.demo-014/index.html") ui.bootstrap.demo 0.14
	div
		a(href="/angular-ui-tree/examples/index.html") angular-ui-tree demo
	div
		a(href="http://pc.chexiu.cn/login") 实验室公共号车商通后台登录（帐号:gzyouqics 密码:123456) 	
