extends layout

block content
	h1= title
	p Welcome to #{title}
	div
		a(href="/angular14/docs/index.html") angular 1.4 api
	div
		a(href="/angular-1.5.4/docs/index.html") angular 1.5.4 api
	div
		a(href="/ui.bootstrap.demo-100/index.html") ui.bootstrap.demo 1.3.3
	div
		a(href="/ui.bootstrap.demo-014/index.html") ui.bootstrap.demo 0.14
	div
		a(href="/angular-ui-tree/examples/index.html") angular-ui-tree demo
	div
		a(href="http://pc.chexiu.cn/login") 实验室公共号车商通后台登录（帐号:gzyouqics 密码:123456) 	
	div
		a(href="http://pc.chexiu.cn/login") 优企云服务器A9测试帐套车商通后台登录（帐号:gzyqcsh 密码:123456) 	
	div
		a(href="/jango_v1.3.5/theme/index.html") 坚果jango商业前端模板 1.3.5
	div
		a(href="/jango_v1.3.5/documentations/jango/index.html") 坚果jango商业前端模板帮助文档